<%- include('../partials/header') %>

<h2><%=title%></h2>

  <img src="/images/kaws.webp" alt="Italian Trulli" class="container-fluid">

  <p>Kaws' sculptures range in size from a few inches to ten meters tall, and are made from various materials including fiberglass, aluminum, wood, bronze, and a steel pontoon inflatable raft.[</p>

<%- include('../partials/footer') %>