<%- include('../partials/header') %>

<h2><%=title%></h2>

<img src="/images/cpfm.jpeg" alt="Italian Trulli" class="container-fluid">

  <p>CPFM, for those who don’t know, stands for Cactus Plant Flea Market, and since then the brand has exploded in popularity to become one of the most notable names in streetwear in 2020.</p>

  
<%- include('../partials/footer') %>