<%- include('../partials/header') %>

<h2><%=title%></h2>

  <img src="/images/bape-logo.webp" alt="Italian Trulli" class="container-fluid">

  <p>BAPE's definition is simple — it stands for A Bathing Ape and there are two meanings behind this.</p>

<%- include('../partials/footer') %>